@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "Bukhari Script";
    src: url("../assets/fonts/BukhariScript-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgb(250, 239, 231);
    color: rgb(54, 50, 50);
}

h1 {
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Bukhari Script';
    font-weight: 700;
    /* color: palevioletred; */
    color: rgb(71, 58, 141);
}

a {
    text-decoration: none;
    color: rgb(112, 117, 216);
}

a:hover {
    /* color: black; */
    /* color: rgb(168, 69, 155); */
    color: rgb(255, 165, 233);
    /* text-decoration: 2px underline rgb(168, 69, 155);
    text-underline-offset: 5px; */
}

.custom-form {
    width: 65%;
    min-width: 500px;
    margin: auto;
    margin-top: 3%;
}

.align-text {
    text-align: right;
}

.align-text-rev {
    text-align: left;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    gap: 25px;
    align-items: center;
}

.name {
    /* color: rgb(184, 71, 128); */
    color: rgb(229, 147, 174);
}

.name:hover {
    text-decoration: 3px underline wavy palevioletred;
    text-underline-offset: 8px;
}

.bookbroker-head h1 {
    font-size: 3.2em;
}

/* Project css start */

.overhead {
    /* background-color: rgb(130, 152, 51); */
    /* background-color: rgb(218, 115, 204); */
    background: rgb(255, 165, 233);
    background: radial-gradient(circle, rgba(255, 165, 233, .5) 0%, rgba(148, 187, 233, 1) 100%);
    color: white;
    text-align: center;
    font-size: .9em;
    padding: 10px;
}

.overhead p {
    margin: 0;
}

.admin-overhead {
    /* background: rgb(138, 248, 153);
    background: radial-gradient(circle, rgba(138, 248, 153, 0.8505996148459384) 0%, rgba(70, 167, 252, 1) 100%); */
    background: rgb(70, 97, 252);
    background: radial-gradient(circle, rgba(70, 97, 252, .5) 0%, rgba(237, 138, 248, 0.8505996148459384) 100%);
    color: rgb(71, 58, 141);
    font-weight: 700;
}

.discount {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

.shop-header {
    margin: auto;
    text-align: center;
}

.shop-header h1 {
    font-size: 4em;
    margin: 15px 0px;
}

.shop-header hr {
    border: 3px dashed rgb(112, 117, 216);
}

.header-content {
    width: 80%;
    margin: auto;
}

.navigation {
    font-size: 1.2em;
    margin: auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.content {
    /* background-color: white; */
    width: 100%;
}

.shop-content {
    width: 80%;
    height: 500px;
    color: rgb(140, 145, 227);
    margin: auto;
    text-align: center;
}

.banner {
    height: 250px;
    background-image: url("../assets/photos/header.JPG");
    background-position: 25% 75%;
    background-size: 100%;

    margin-top: 25px;
    border-top: 2px solid rgb(71, 58, 141);
    color: rgb(71, 58, 141);
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-txt {
    font-size: 3em;
    margin-bottom: 18px;
}

.product-list {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.product-card {
    padding: 15px;
    color: rgb(112, 117, 216);
}

.product-card img {
    border-radius: 10px;
    /* border-radius: 50%; */
}

.product-card img:hover {
    opacity: 0.8;
    transition: opacity .2s ease;
}

.product-card a:hover {
    color: rgb(112, 117, 216);
    text-decoration: 1px solid underline rgb(112, 117, 216);
    text-underline-offset: 5px;
}

.product-name:after {
    bottom: -8px;
    content: "";
    background-color: #104F0F;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 20px;
}

.fade-in {
    animation: fadeIn .7s, displace .7s;
    -webkit-animation: fadeIn .7s, displace .7s;
}

.fade-spec {
    animation: fadeIn .7s;
    -webkit-animation: fadeIn .7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes displace {
    from {
        transform: translate3d(0, -1.75%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.login-container {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.login {
    width: 20%;
    margin-top: -10%;
    text-align: center;
}

.form-bg {
    background-color: rgb(250, 239, 231);
    border-color: black;
}

.product-view {
    margin-top: 3%;
    margin-bottom: 10%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.product-view h1 {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 700;
}

.product-gallery {
    width: 60%;
    text-align: right;
}

.product-gallery img {
    border-radius: 8px;
}

.product-info {
    width: 60%;
}

.footer {
    padding: 20px 0px;
    text-align: center;
    font-size: 1.15em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-actions {
    padding-right: 20px;
    text-align: right;
    font-size: 1.4em;
    color: rgb(112, 117, 216);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.header-actions i:hover {
    cursor: pointer;
}

.cart {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    /* height: 50vh; */
}

.cart-list {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 10%;
}

h2.has-dash {
    margin-bottom: 48px;
    position: relative;
}

.cart-list h2.has-dash:after {
    bottom: -8px;
    content: "";
    background-color: rgb(54, 50, 50);
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 24px;
}

.cart-item {
    width: 800px;
    /* padding: 5px; */
    margin: auto;
}

.cart-item-name {
    width: 80%;
}

.cart-item-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cart-action {
    display: flex;
    justify-content: space-between;
}

.user-table {
    background: whitesmoke;
    margin-top: 3%;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    font-size: 1.6em;
}

.product-actions {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.about {
    color: rgb(71, 58, 141);
}

.about-text {
    color: rgb(112, 117, 216);
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.socials {
    display: flex;
    gap: 15px;
    justify-content: center;
}